extends gamelayout

block content
	div(id="placenow",style="display:none") Place now
	div(id="waiting", style="display:none") Waiting...
	<!-- load dependencies -->
	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js")
	script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js")
	script(type="text/javascript")!= config
	if delta
		script(type="text/javascript")!= delta
	script(src="jaws.js")
	script(src="app.js")
	script(src="src/Controller.js")
	script(src="src/PlayerFactory.js")
	script(src="src/BlockFactory.js")
	script(src="src/ItemFactory.js")
	script(src="src/ToolFactory.js")
	script(src="src/HUDFactory.js")
	script(src="src/Builder.js")
	script(src="src/SocketHandler.js")
	script(src="src/CacheHandler.js")
	if multi
		script(src="/socket.io/socket.io.js")
	script(src="init.js")