extends layout

block content
	div(id="placenow",style="display:none") Place now
	div(id="waiting", style="display:none") Waiting...
	<!-- load dependencies -->
	script(src="jquery.js")
	script(type="text/javascript")!= config
	script(src="jaws.js")
	script(src="app.js")
	script(src="src/Controller.js")
	script(src="src/PlayerFactory.js")
	script(src="src/BlockFactory.js")
	script(src="src/ItemFactory.js")
	script(src="src/ToolFactory.js")
	script(src="src/HUDFactory.js")
	script(src="src/Builder.js")
	script(src="src/SocketHandler.js")
	script(src="src/CacheHandler.js")
	script(src="src/RandomGenerator.js")
	script(src="/socket.io/socket.io.js")
	script(src="init.js")