
body {
	font-family: 'Arial';
    margin: 0px;
    padding: 0px;
	width:100%;
	height:100%;
	overflow: hidden;	
}

#itembox {
	width: 188px;
	height: 179px;
	position:absolute;
	left:0;
	bottom:0;
	background: url(assets/hud/Inventar.png) top left no-repeat;
	z-index: 2;
}

#itembox.onInventory {
	background: none;
	left:50%;
	top:50%;
	margin-left: -299px;
	margin-top: -53px;
}

#inventory {
	width: 671px;
	height: 365px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-335px;
	margin-top:-183px;
	background: url(assets/hud/Big_Inventar_1.png) top left no-repeat;
	z-index: 1;
}

#trash {
    background: url(assets/hud/trash.png) top left no-repeat;
    background-size: 100% auto;
    width: 39px;
    height: 39px;
    position: absolute;
    left: 18px;
    top: 23px;
}


#itembox-0 {top: 39px;left: 10px;}
#itembox-1 {top: 39px;left: 57px;}
#itembox-2 {top: 39px;left: 104px;}
#itembox-3 {top: 87px;left: 10px;}
#itembox-4 {top: 87px;left: 57px;}
#itembox-5 {top: 87px;left: 104px;}
#itembox-6 {top: 133px;left: 10px;}
#itembox-7 {top: 133px;left: 57px;}
#itembox-8 {top: 133px;left: 104px;}

#inventory-0 {top: 149px;left: 244px;}
#inventory-1 {top: 149px;left: 291px;}
#inventory-2 {top: 149px;left: 339px;}
#inventory-3 {top: 149px;left: 387px;}
#inventory-4 {top: 149px;left: 437px;}
#inventory-5 {top: 149px;left: 485px;}
#inventory-6 {top: 149px;left: 532px;}
#inventory-7 {top: 149px;left: 578px;}
#inventory-8 {top: 195px;left: 244px;}
#inventory-9 {top: 195px;left: 291px;}
#inventory-10 {top: 195px;left: 339px;}
#inventory-11 {top: 195px;left: 387px;}
#inventory-12 {top: 195px;left: 437px;}
#inventory-13 {top: 195px;left: 486px;}
#inventory-14 {top: 195px;left: 532px;}
#inventory-15 {top: 195px;left: 578px;}
#inventory-16 {top: 243px;left: 244px;}
#inventory-17 {top: 243px;left: 291px;}
#inventory-18 {top: 243px;left: 339px;}
#inventory-19 {top: 243px;left: 387px;}
#inventory-20 {top: 243px;left: 437px;}
#inventory-21 {top: 243px;left: 486px;}
#inventory-22 {top: 243px;left: 532px;}
#inventory-23 {top: 243px;left: 578px;}
#inventory-24 {top: 292px;left: 244px;}
#inventory-25 {top: 292px;left: 291px;}
#inventory-26 {top: 292px;left: 339px;}
#inventory-27 {top: 292px;left: 387px;}
#inventory-28 {top: 292px;left: 437px;}
#inventory-29 {top: 292px;left: 486px;}
#inventory-30 {top: 292px;left: 532px;}
#inventory-31 {top: 292px;left: 578px;}

.itemwrapper {
	position:absolute;
	width: 48px;
	height: 48px;
}

.amount {
	color: white;
	font-weight: bold;
	position: absolute;
	right: 5px;
	bottom: 1px;
}

.item {
	width: 38px;
	height: 38px;
	background-repeat: no-repeat;
    position: relative;
}

.selected:before {
	background: url(assets/hud/ItemAuswahl2.png) top left no-repeat;
	width:54px;
	height:54px;
	position:absolute;
	content: "";
	top: -7px;
	left: -7px;
}



@media (max-width: 600px) {
	#itembox {
		-moz-transform: scale(0.7) translate(-40px, 39px);
		-webkit-transform: scale(0.7) translate(-40px, 39px);
		-o-transform: scale(0.7) translate(-40px, 39px);
		transform: scale(0.7) translate(-40px, 39px);
	}
	
	#inventory {
		-moz-transform: scale(0.7);
		-webkit-transform: scale(0.7);
		-o-transform: scale(0.7);
		transform: scale(0.7);
	}

	#itembox.onInventory {
		margin-left: -206px;
		margin-top: -90px;
	}
}

#healthbar {
	width: 187px;
	height: 26px;
	position:absolute;
	left:5px;
	top:5px;
	background: url(assets/hud/Health_Bar_empty.png) top left no-repeat;

}
#healthbar-inner {
	width: 168px;
	height: 20px;
	position:absolute;
	left:10px;
	top:8px;
	background: url(assets/hud/HealthRedDNA.png) top left no-repeat;
}


#chatbox {
	position:absolute;
	width: 200px;
	right:0;
	top:20%;
	height: 80%;
}


#chatbox div {
	font-weight: bold;
	color: white;
	font-size: 16px;
	text-align: right;
	text-shadow:
		0 1px 0 black,
		0 -1px 0 black,
		1px 0 0 black,
		-1px 0 0 black;
	color:#fff;
	padding-right: 15px;
}


#buttonbox {
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
	padding:10px;
	z-index: 3;
}

/*.button {
	background-color: blue;
	color: white;
	border-radius: 10px;
	float: right;
	width: 15px;
	height: 20px;
	padding: 5px;
	padding-left: 10px;
	font-weight: bold;
}*/

.button {
    background-color: #3bb3e0;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    position: relative;
    padding: 5px;
    background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(44,160,202)), color-stop(1, rgb(62,184,229)) );
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
    -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
    -o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
    float: right;
    width: 15px;
    height: 15px;
    font-family: "Courier New";
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin-left: 6px;
}

.button:active {
    top: 3px;
    background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(62,184,229)), color-stop(1, rgb(44,160,202)) );
    -webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
    -moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
    -o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
}

#placenow, #waiting {
	position:absolute;
	width: 100%;
	text-shadow:
		0 1px 0 black,
		0 -1px 0 black,
		1px 0 0 black,
		-1px 0 0 black;
	color:#fff;
	font-size:30px;
	top: 50%;
	left: 0;
	text-align: center;
	
}
