
#itembox {
	width: 188px;
	height: 179px;
	position:absolute;
	left:0;
	bottom:0;
	background: url(assets/hud/Inventar.png) top left no-repeat;
}

@media (max-width: 600px) {
	#itembox {
		-moz-transform: scale(0.7) translate(-56px, 53px);
		-webkit-transform: scale(0.7) translate(-56px, 53px);
		-o-transform: scale(0.7) translate(-56px, 53px);
		transform: scale(0.7) translate(-56px, 53px);
	}
}

#healthbar {
	width: 187px;
	height: 26px;
	position:absolute;
	left:5px;
	top:5px;
	background: url(assets/hud/Health_Bar_empty.png) top left no-repeat;

}
#healthbar-inner {
	width: 168px;
	height: 20px;
	position:absolute;
	left:10px;
	top:8px;
	background: url(assets/hud/HealthRedDNA.png) top left no-repeat;
}

