
body {
	font-family: 'Arial';
    margin: 0px;
    padding: 0px;
	width:100%;
	height:100%;
	overflow: hidden;	
}

#itembox {
	width: 188px;
	height: 179px;
	position:absolute;
	left:0;
	bottom:0;
	background: url(assets/hud/Inventar.png) top left no-repeat;
}

#itembox-0 {top: 39px;left: 10px;}
#itembox-1 {top: 39px;left: 57px;}
#itembox-2 {top: 39px;left: 104px;}
#itembox-3 {top: 87px;left: 10px;}
#itembox-4 {top: 87px;left: 57px;}
#itembox-5 {top: 87px;left: 104px;}
#itembox-6 {top: 133px;left: 10px;}
#itembox-7 {top: 133px;left: 57px;}
#itembox-8 {top: 133px;left: 104px;}

.itemwrapper {
	position:absolute;
}

.amount {
	color: white;
	font-weight: bold;
	position: absolute;
	right: 5px;
	bottom: 2px;
}

.item {
	width: 38px;
	height: 38px;
	background-repeat: no-repeat;
}

.selected:after {
	background: url(assets/hud/ItemAuswahl2.png) top left no-repeat;
	width:54px;
	height:54px;
	position:absolute;
	content: "";
	top: -7px;
	left: -7px;
}



@media (max-width: 600px) {
	#itembox {
		-moz-transform: scale(0.7) translate(-40px, 39px);
		-webkit-transform: scale(0.7) translate(-40px, 39px);
		-o-transform: scale(0.7) translate(-40px, 39px);
		transform: scale(0.7) translate(-40px, 39px);
	}
}

#healthbar {
	width: 187px;
	height: 26px;
	position:absolute;
	left:5px;
	top:5px;
	background: url(assets/hud/Health_Bar_empty.png) top left no-repeat;

}
#healthbar-inner {
	width: 168px;
	height: 20px;
	position:absolute;
	left:10px;
	top:8px;
	background: url(assets/hud/HealthRedDNA.png) top left no-repeat;
}


#chatbox {
	position:absolute;
	width: 200px;
	right:0;
	top:20%;
	height: 80%;
}


#chatbox div {
	font-weight: bold;
	color: white;
	font-size: 16px;
	text-align: right;
	text-shadow:
		0 1px 0 black,
		0 -1px 0 black,
		1px 0 0 black,
		-1px 0 0 black;
	color:#fff;
	padding-right: 15px;
}


#buttonbox {
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
	padding:10px;
}

.button {
	background-color: blue;
	color: white;
	border-radius: 10px;
	float: right;
	width: 15px;
	height: 20px;
	padding: 5px;
	padding-left: 10px;
	font-weight: bold;
}

#placenow, #waiting {
	position:absolute;
	width: 100%;
	text-shadow:
		0 1px 0 black,
		0 -1px 0 black,
		1px 0 0 black,
		-1px 0 0 black;
	color:#fff;
	font-size:30px;
	top: 50%;
	left: 0;
	text-align: center;
	
}
